@model OrderCategory
<form method="post">
    <div class="p-3">
        <h2 class="text-primary"> Create New Order</h2>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="form-control"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-control"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-control"></label>
        <input asp-for="Stock" class="form-control"/>
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>
    <button type="submit" asp-controller="Order" asp-action="Create" class="btn btn-primary">Create</button>
    <a asp-controller="Order" asp-action="Index" class="btn btn-secondary">Back to list</a>
</form>

